body {
}
.userleftmenu {
padding-top:45%;

}
.userleftmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

.userleftmenu li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
.userleftmenu li a:hover {
    background-color: #555;
    color: white;
}